

        html {
            height: 100%;
        }

        body {
            height: 94%;
            background: #f2f2f2;
            padding-top: 3%;
        }
        ul{
            list-style: none!important;
        }
        a{
            border: 0!important;
        }

        .l {
            float: left;
        }

        .r {
            float: right;
        }

        .mt0{
            margin-top: 0!important;
        }
        .ml0 {
            margin-left: 0!important;
        }

        .pl0{
            padding-left: 0!important;
        }
        .pt0 {
            padding-top: 0!important;
        }

        .content {
            margin: 0 auto;
            width: 100%;
            background: white;
            height: 100%;
            border: 1px solid #ddd;
            border-width: 0 1px;
        }

        .box-welcome-text {
            text-align: left;
            color: #989898;
        }

        .text-left {
            text-align: left!important;
        }

        .box1 {
            padding-top: 90px;
            padding-left: 100px;
            padding-right: 5px;
            min-width: 61%;
        }

        .box1 h1 {
            font-size: 35px;
            margin-bottom: 20px;
            padding: 15px;
            padding-left: 0;
            border-bottom: 3px double #ddd;
        }

        .box1 h3 {
            margin-bottom: 35px;
        }

        .box1 ol {
            list-style-type: decimal;
            margin-left: 17px;
        }

        .box1 ol li {
            margin-bottom: 10px;
            font-size: 18px;
        }

        .firstNav {
            margin-top: 7px;
            text-indent: 26px;
        }

        .secondeNav {
            margin-bottom: 6px;
            text-indent: 38px;
            font-size: 15px;
        }

        .s {
            margin-bottom: 5px;
        }

        i {
            position: relative;
            top: 14px;
            left: 10px;
            color: white;
        }

        nav {
            padding-top: 100px;
            padding-left: 16px;
            padding-right: 8px;
            width: 235px;
            font-size: 19px;
        }

        nav ul li {
            cursor: pointer;
        }

        .active a {
            color: #161616;
        }

        .cl {
            clear: both;
        }

        .error_base_table {
            width: 69%;
        }

        .textarea_box {
            width: 1170px;
            height: 650px;
            overflow-y: auto;
        }

        .text-center {
            text-align: center;
        }

        summary {
            margin-top: 4px;
            color: #1abc9c;
            text-indent: 4px;
            cursor: pointer;
            outline: 0;
        }

        .line {
            margin-top: 72px;
            width: 1px;
            height: 82%;
            background: #ddd;
        }

        .about-box1 p {
            font-size: 20px;
            text-align: center;
        }

        .footer-logo {
            position: absolute;
            bottom: 32px;
            right: 235px;
            font-size: 15px;
            font-weight: 400;
        }

        .footer-logo a{
            padding-bottom: 2px;
            border-bottom: 1px solid #1abc9c!important;
        }
        .footer-logo a:hover{
            border-bottom-color: #555!important;
            color: #555;
            text-decoration: none;
        }

        input{
            text-indent: 10px;
        }
        h1{
            margin-top: 0!important;
        }

        .t4-btn{
            width: 100px;
            height: 33px;
            text-indent: 0;
        }
        @media screen and (min-width: 768px) {
            .container {
                width: 750px;
                height: 100%;
                margin: 0 auto;
            }
        }

        @media screen and (min-width: 992px) {
            .container {
                width: 970px;
                height: 100%;
                margin: 0 auto;
            }
        }

        @media screen and (min-width: 1200px) {
            .container {
                width: 1100px;
                height: 100%;
                margin: 0 auto;
            }
            .box1 {
                padding-top: 90px;
                padding-left: 32px;
                padding-right: 5px;
                min-width: 61%;
            }
            .textarea_box {
                width: 770px;
                height: 600px;
                overflow-y: auto;
            }
        }

        @media screen and (min-width: 1366px) {
            .container {
                width: 1100px;
                height: 100%;
                margin: 0 auto;
            }
            .textarea_box {
                width: 770px;
                height: 650px;
                overflow-y: auto;
            }
            .box1 {
                padding-top: 90px;
                padding-left: 40px;
                padding-right: 5px;
                min-width: 61%;
            }
        }

        @media screen and (min-width: 1440px) {
            .container {
                width: 1170px;
                height: 100%;
                margin: 0 auto;
            }
            .textarea_box {
                width: 785px;
                height: 650px;
                overflow-y: auto;
            }
            .box1 {
                padding-top: 90px;
                padding-left: 60px;
                padding-right: 5px;
                min-width: 61%;
            }
        }

        @media screen and (min-width: 1550px) {
            .container {
                width: 1640px;
                height: 100%;
                margin: 0 auto;
            }
            .box1 {
                padding-top: 90px;
                padding-left: 100px;
                padding-right: 5px;
                min-width: 61%;
            }
            .textarea_box {
                width: 1185px;
                height: 650px;
                overflow-y: auto;
            }
        }